[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = {version = "==1.8.1", index = "https://download.pytorch.org/whl/cu111/"}
torchvision = {version = "==0.9.1", index = "https://download.pytorch.org/whl/cu111/"}
tqdm = "*"
sklearn = "*"
pandas = "*"
pillow = ">=8.3.2"
matplotlib = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
streamlit = "streamlit run app/main.py --server.headless true"
